- content_for :extra_javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v1/braintree.js"

- content_for :extra_javascript do
  :javascript

    $(document).ready(function() {
      var braintreePaymentForm = $("#braintree-payment-form");
      initialize_braintree_payment_form("#{I18n.locale}", function beforeSubmit(next) {
        var braintree = Braintree.create("#{@braintree_client_side_encryption_key}");
        braintree.encryptForm(braintreePaymentForm);
        next();
      });

      braintreePaymentForm.show();
    });

- content_for :title_header do
  %h1= t("Elige metodo de pago")

.centered-section.payment-form
  %h1= t("Llama al 900 52 52 54 para realizar el pago")
  - payment_receiver = @conversation.payment_receiver
  %p
    = t(".payment_receiver")

    = "#{link_to payment_receiver.name, payment_receiver}".html_safe

  %p
    = "#{t("payments.form.product")}"
    = link_to "#{@conversation.listing.title}", @conversation.listing
  %p
    = "#{t("payments.form.price")}"
    = humanized_money_with_symbol(@braintree_payment.sum)



    .row
      .col-12
        %p
          = "Para asegurar la seguridad y confianza de la venta, Klikaid.com se encarga de mantener el dinero en escrow hasta que el trabajo haya sido finalizado. Liberaremos el pago a #{link_to(payment_receiver.name, payment_receiver)} cuando el trabajo haya sido finalizado ".html_safe

    %br/

    .row
      .col-12
        %h3
          = "Informacion de seguridad"

        %p
          = "Nosotros no almacenamos los datos de pagos."

        %p
          = "Utilizamos metodos de pagos seguros como Paypal."

        %p
          = link_to "https://www.braintreepayments.com/" do
            = image_tag("payments/braintree-logo-2x.png", height: '32')

          %br/

          = "Our secure payment provider"

  %noscript
    = "For security reasons JavaScript has to be enabled"
